{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}
{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}

<style>
  #shopify-section-{{ section.id }} .svg-wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px !important;
    height: 30px !important;
    background: #987c68;
    border-radius: 100px;
  }

  #shopify-section-{{ section.id }} .list-social__link {
    color: #28201c !important;
    padding-top: 0;
  }

  .footer-contact__title{
    font-family: 'Noto_Sans_Condensed_bold';
    text-transform: uppercase;
    font-size: 24px;
  }

  #shopify-section-{{ section.id }} ul li p{
    display: inline;
  }

  .footer-logo__logo{
    margin-top: 35px;
  }

  .footer-logo__logo img{
    max-width: 120px;
    height: auto;
    width: 100%;
  }

  .footer-block__brandInfo{
    max-width: 200px !important;
  }

  .footer-block__linkList{
    max-width: 400px !important;
  }

  .custom-footer__blocks-wrapper{
    justify-content: space-between;
  }
</style>

{%- style -%}


      @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
        @font-face {
          font-family: 'Noto_Sans_Condensed_bold';
          src: url('https://cdn.shopify.com/s/files/1/0954/7926/7646/files/NotoSans-ExtraCondensedExtraBold.ttf?v=1777383522');
        }
       .footer {
         margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
       }

       .custom-footer-block__details-content{
         display:flex;
         gap:20px;
         row-gap: 0;
         
       }
       .custom-footer__blocks-wrapper .footer-block:nth-child(2){
            width: 100%;
            max-width: 300px;
       }
       .custom-footer-block__details-content .list-menu__item--link {
         font-weight:700;
         font-size:24px;
         font-family: 'Noto_Sans_Condensed_bold';
         padding:0;
         margin:0;
       }

       .section-{{ section.id }}-padding {
         padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
         padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
       }

       .footer__content-top .grid{
        row-gap: 0 !important;
       }

       @media screen and (min-width: 750px) {
         .footer {
           margin-top: {{ section.settings.margin_top }}px;
         }

         .section-{{ section.id }}-padding {
           padding-top: {{ section.settings.padding_top }}px;
           padding-bottom: {{ section.settings.padding_bottom }}px;
         }
       }


       .custom-footer-block__brand-info{
        display:flex;
        flex-direction:column;
        gap:10px;
       }

       .other-footer-block__brand-info {
         display:flex;
          flex-direction:column;
          gap:10px;
       }
  .custom-footer__content-bottom-wrapper {
    justify-content:flex-start;
  }
  .custom-footer__content-bottom-wrapper .footer__copyright {
    margin-top:0;
    font-family: "Noto Sans", sans-serif;
    width: 100%;
    max-width: 170px;
    text-align: left;
  }

       /* TEXT */
    .other-footer-block__brand-info .text {
      color: {{ section.settings.footer_text_color }};
      font-size: {{ section.settings.footer_text_size }}px;
      font-weight: {{ section.settings.footer_text_weight }};
      font-family: 'Noto_Sans_Condensed_bold';
    }

    /* BUTTON */
    .other-footer-block__brand-info .custom-button{
      color: {{ section.settings.footer_btn_text_color }};
      background-color: {{ section.settings.footer_btn_bg }};
      font-size: {{ section.settings.footer_btn_text_size }}px;
      font-weight: {{ section.settings.footer_btn_text_weight }};
      padding: 8px 14px;
      text-decoration: none;
      display: inline-block;
      transition: 0.3s;
      border-radius:5px;
      font-family: "Noto Sans", sans-serif;
    }

    .other-footer-block__brand-info .custom-button:hover {
      background-color: {{ section.settings.footer_btn_hover_bg }};
      color: {{ section.settings.footer_btn_hover_text }};
    }

    /* LOGO */
    .other-footer-block__brand-info .logo {
      display: flex; 
    }
    
    .other-footer-block__brand-info .logo img {
      max-width: {{ section.settings.footer_logo_width }}px;
      width: 100%;
    } 

    .footer-block__contact{
      max-width: 260px !important;
    }

    .footer-contact__title{
      margin-top: 0;
    }


    @media screen and (max-width:768px){
      .custom-footer__blocks-wrapper{
        flex-direction:column; 
      }
      .custom-footer__blocks-wrapper .footer-block{
        width:100%;
      }
      .custom-footer-block__details-content {
       gap: 20px;
       row-gap: 0px !important;
       font-family: 'Noto Sans', sans-serif;
       flex-wrap: wrap;
       margin-bottom:1rem !important;
     }
     .custom-footer__blocks-wrapper{
        row-gap: 1rem !important;
     }

    }
{%- endstyle -%}

<footer class="footer color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding">
  {%- liquid
    assign has_social_icons = true
    if settings.social_facebook_link == blank and settings.social_instagram_link == blank and settings.social_youtube_link == blank and settings.social_tiktok_link == blank and settings.social_twitter_link == blank and settings.social_pinterest_link == blank and settings.social_snapchat_link == blank and settings.social_tumblr_link == blank and settings.social_vimeo_link == blank
      assign has_social_icons = false
    endif

    if settings.brand_image == blank and settings.brand_headline == blank and settings.brand_description == blank
      assign brand_empty = true
    endif

    if section.blocks.size == 1 and section.blocks[0].type == 'brand_information' and brand_empty and has_social_icons == false and section.settings.newsletter_enable == false and section.settings.enable_follow_on_shop == false
      assign only_empty_brand = true
    endif
  -%}
  {%- if section.blocks.size > 0
    or section.settings.newsletter_enable
    or section.settings.show_social
    and has_social_icons == true
    or section.settings.enable_follow_on_shop
  -%}
    {%- unless only_empty_brand -%}
      <div class="footer__content-top page-width">
        {%- if section.blocks.size > 0 -%}
          {%- liquid
            if section.blocks.size == 9
              assign footer_grid_class = 'grid--3-col-tablet'
            elsif section.blocks.size > 6
              assign footer_grid_class = 'grid--4-col-desktop'
            elsif section.blocks.size > 4
              assign footer_grid_class = 'grid--3-col-tablet'
            endif
          -%}
          <div
            class="custom-footer__blocks-wrapper footer__blocks-wrapper grid grid--1-col grid--2-col grid--4-col-tablet {{ footer_grid_class }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
            {% endif %}
          >
            {%- for block in section.blocks -%}
              <div
                class="{% if block.type == 'link_list' %}footer-block__linkList{% endif %} {% if block.type == 'brand_information' %}footer-block__brandInfo{% endif %} {% if block.type == 'contact' %}footer-block__contact{% endif %} footer-block grid__item{% if block.type == 'link_list' %} footer-block--menu{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                {%- if block.settings.heading != blank -%}
                  <h2 class="footer-block__heading inline-richtext">{{- block.settings.heading -}}</h2>
                {%- endif -%}

                {%- case block.type -%}
                  {%- when '@app' -%}
                    {% render block %}
                  {%- when 'text' -%}


                    <div class="footer-block__details-content rte">
                      {{ block.settings.subtext }}
                    </div>
                  {%- when 'link_list' -%}
                    {%- if block.settings.menu != blank -%}
                      <ul class="footer-block__details-content  list-unstyled custom-footer-block__details-content">
                        {%- for link in block.settings.menu.links -%}
                          <li>
                            <a
                              href="{{ link.url }}"
                              class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}"
                            >
                              {{ link.title | escape }}
                            </a>
                          </li>
                        {%- endfor -%}
                      </ul>
                    {%- endif -%}
                    {%- if block.settings.footer_logo != blank %}
                      <div class="footer-logo__logo">
                        {{ block.settings.footer_logo | image_url: width: block.settings.footer_logo.width | image_tag }}
                      </div>
                    {%- endif -%}
                  {%- when 'brand_information' -%}
                    <div class="footer-block__brand-info custom-footer-block__brand-info">
                      {%- if settings.brand_image != blank -%}
                        {%- assign brand_image_height = settings.brand_image_width
                          | divided_by: settings.brand_image.aspect_ratio
                        -%}
                        <div
                          class="footer-block__image-wrapper"
                          style="max-width: min(100%, {{ settings.brand_image_width }}px);"
                        >
                          {{
                            settings.brand_image
                            | image_url: width: 1100
                            | image_tag:
                              loading: 'lazy',
                              widths: '50, 100, 150, 200, 300, 400, 550, 800, 1100',
                              height: brand_image_height,
                              width: settings.brand_image_width
                          }}
                        </div>
                      {%- endif -%}
                      {%- if settings.brand_headline != blank -%}
                        <h2 class="footer-block__heading rte">{{ settings.brand_headline }}</h2>
                      {%- endif -%}
                      {% comment %} {%- if settings.brand_description != blank -%}
                        <div class="rte">{{ settings.brand_description }}</div>
                      {%- endif -%} {% endcomment %}
                      {%- if block.settings.show_social and has_social_icons -%}
                        {%- render 'social-icons', class: 'footer__list-social' -%}
                      {%- endif -%}
                      <div class="other-footer-block__brand-info ">
                        <span class="text">{{ section.settings.footer_text }}</span>
                        <div>
                          <a href="{{section.settings.footer_btn_url }}" class="custom-button">
                            {{- section.settings.footer_btn_text -}}
                          </a>
                        </div>
                        {% if section.settings.footer_logo != blank %}
                          <div class="logo">
                            <img src="{{ section.settings.footer_logo | img_url:"master" }}" loading="lazy" alt="{{ section.settings.footer_logo.alt | escape }}">
                          </div>
                        {% endif %}
                         {%- if section.settings.show_policy -%}
                              <ul class="policies list-unstyled">
                                {%- for policy in shop.policies -%}
                                  {%- if policy != blank and policy.title != 'Cancellation policy' -%}
                                    <li>
                                      <small class="copyright__content"
                                        ><a href="{{ policy.url }}">{{ policy.title | escape }}</a></small
                                      >
                                    </li>
                                  {%- endif -%}
                                {%- endfor -%}
                              </ul>
                            {%- endif -%}
                        <div class="footer__content-bottom-wrapper custom-footer__content-bottom-wrapper  {% if section.settings.enable_country_selector == false and section.settings.enable_language_selector == false %} footer__content-bottom-wrapper--center{% endif %}">
                          <div class="footer__copyright caption">
                            <small class="copyright__content"
                              >&copy; {{ 'now' | date: '%Y' }}, {{ shop.name | link_to: routes.root_url -}}
                            </small>
                            <small class="copyright__content">{{ powered_by_link }}</small>
                           
                          </div>
                        </div>
                      </div>
                    </div>
                  {%- when 'image' -%}
                    <div class="footer-block__details-content footer-block-image {{ block.settings.alignment }}">
                      {%- if block.settings.image != blank -%}
                        {%- assign image_size_2x = block.settings.image_width | times: 2 | at_most: 5760 -%}
                        <div
                          class="footer-block__image-wrapper"
                          style="max-width: min(100%, {{ block.settings.image_width }}px);"
                        >
                          <img
                            srcset="{{ block.settings.image | image_url: width: block.settings.image_width }}, {{ block.settings.image | image_url: width: image_size_2x }} 2x"
                            src="{{ block.settings.image | image_url: width: 760 }}"
                            alt="{{ block.settings.image.alt | escape }}"
                            loading="lazy"
                            width="{{ block.settings.image.width }}"
                            height="{{ block.settings.image.height }}"
                          >
                        </div>
                      {%- else -%}
                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                      {%- endif -%}
                    </div>
                    {%- when 'contact' -%}
                      <div class="footer-contact__info">
                        <p class="footer-contact__title"><strong>Contact Us</strong></p>
                        {% if block.settings.email != blank %}
                          <div class="footer-contact__email">
                            <strong>Email:</strong> {{ block.settings.email }}
                          </div>
                        {% endif %}

                        {% if block.settings.address != blank %}
                          <div class="footer-contact__address">
                            <strong>Address:</strong> {{ block.settings.address }}
                          </div>
                        {% endif %}

                      </div>
                {%- endcase -%}
              </div>
            {%- endfor -%}
          </div>
        {%- endif -%}

        {% comment %}
          <div
              class="footer-block--newsletter{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
              {% if settings.animations_reveal_on_scroll %}
                data-cascade
              {% endif %}
            >
              {%- if section.settings.newsletter_enable -%}
                <div class="footer-block__newsletter">
                  {%- if section.settings.newsletter_heading != blank -%}
                    <h2 class="footer-block__heading inline-richtext">{{ section.settings.newsletter_heading }}</h2>
                  {%- endif -%}
                  {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
                    <input type="hidden" name="contact[tags]" value="newsletter">
                    <div class="newsletter-form__field-wrapper">
                      <div class="field">
                        <input
                          id="NewsletterForm--{{ section.id }}"
                          type="email"
                          name="contact[email]"
                          class="field__input"
                          value="{{ form.email }}"
                          aria-required="true"
                          autocorrect="off"
                          autocapitalize="off"
                          autocomplete="email"
                          {% if form.errors %}
                            autofocus
                            aria-invalid="true"
                            aria-describedby="ContactFooter-error"
                          {% elsif form.posted_successfully? %}
                            aria-describedby="ContactFooter-success"
                          {% endif %}
                          placeholder="{{ 'newsletter.label' | t }}"
                          required
                        >
                        <label class="field__label" for="NewsletterForm--{{ section.id }}">
                          {{ 'newsletter.label' | t }}
                        </label>
                        <button
                          type="submit"
                          class="newsletter-form__button field__button"
                          name="commit"
                          id="Subscribe"
                          aria-label="{{ 'newsletter.button_label' | t }}"
                        >
                          <span class="svg-wrapper">
                            {{- 'icon-arrow.svg' | inline_asset_content -}}
                          </span>
                        </button>
                      </div>
                      {%- if form.errors -%}
                        <small class="newsletter-form__message form__message" id="ContactFooter-error">
                          <span class="svg-wrapper">
                            {{- 'icon-error.svg' | inline_asset_content -}}
                          </span>
                          {{- form.errors.translated_fields.email | capitalize }}
                          {{ form.errors.messages.email -}}
                        </small>
                      {%- endif -%}
                    </div>
                    {%- if form.posted_successfully? -%}
                      <h3
                        class="newsletter-form__message newsletter-form__message--success form__message"
                        id="ContactFooter-success"
                        tabindex="-1"
                        autofocus
                      >
                        <span class="svg-wrapper">
                          {{- 'icon-success.svg' | inline_asset_content -}}
                        </span>
                        {{- 'newsletter.success' | t }}
                      </h3>
                    {%- endif -%}
                  {%- endform -%}
                </div>
              {%- endif -%}

              {%- if shop.features.follow_on_shop? and section.settings.enable_follow_on_shop -%}
                <div class="footer__follow-on-shop">
                  {{ shop | login_button: action: 'follow' }}
                </div>
              {%- endif -%}

              {%- if section.settings.show_social and has_social_icons -%}
                {%- render 'social-icons', class: 'footer__list-social' -%}
              {%- endif -%}
            </div>
          </div>
        {% endcomment %}
    {%- endunless -%}
  {%- endif -%}

  {% comment %}
    <div
      class="footer__content-bottom{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
      {% if settings.animations_reveal_on_scroll %}
        data-cascade
      {% endif %}
    >
      <div class="footer__content-bottom-wrapper page-width">
        <div class="footer__column footer__localization isolate">
          {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
            <localization-form>
              {%- form 'localization', id: 'FooterCountryForm', class: 'localization-form' -%}
                <div>
                  <h2 class="caption-large text-body" id="FooterCountryLabel">{{ 'localization.country_label' | t }}</h2>
                  {%- render 'country-localization', localPosition: 'FooterCountry' -%}
                </div>
              {%- endform -%}
            </localization-form>
          {%- endif -%}

          {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
            <localization-form>
              {%- form 'localization', id: 'FooterLanguageForm', class: 'localization-form' -%}
                <div>
                  <h2 class="caption-large text-body" id="FooterLanguageLabel">
                    {{ 'localization.language_label' | t }}
                  </h2>
                  {%- render 'language-localization', localPosition: 'FooterLanguage' -%}
                </div>
              {%- endform -%}
            </localization-form>
          {%- endif -%}
        </div>
        <div class="footer__column footer__column--info">
          {%- if section.settings.payment_enable -%}
            <div class="footer__payment">
              <span class="visually-hidden">{{ 'sections.footer.payment' | t }}</span>
              <ul class="list list-payment" role="list">
                {%- for type in shop.enabled_payment_types -%}
                  <li class="list-payment__item">
                    {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                  </li>
                {%- endfor -%}
              </ul>
            </div>
          {%- endif -%}
        </div>
      </div>
    </div>
  {% endcomment %}
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "contact",
      "limit": 1,
      "name": "Contact Info",
      "settings": [
        {
          "type": "text",
          "id": "email",
          "label": "Email"
        },
        {
          "type": "inline_richtext",
          "id": "address",
          "label": "Address"
        }
      ]
    },
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.footer.blocks.link_list.settings.heading.default",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label"
        },
        {
          "type": "image_picker",
          "id": "footer_logo",
          "label": "Footer Logo"
        }
      ]
    },
    {
      "type": "brand_information",
      "name": "t:sections.footer.blocks.brand_information.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.footer.blocks.brand_information.settings.paragraph.content"
        },
        {
          "type": "checkbox",
          "id": "show_social",
          "default": true,
          "label": "t:sections.footer.blocks.brand_information.settings.show_social.label",
          "info": "t:sections.footer.blocks.brand_information.settings.show_social.info"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.footer.blocks.text.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.footer.blocks.text.settings.heading.default",
          "label": "t:sections.footer.blocks.text.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "t:sections.footer.blocks.text.settings.subtext.default",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 550,
          "step": 5,
          "unit": "px",
          "label": "Width",
          "default": 100
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Alignment",
          "options": [
            {
              "value": "",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "Footer Brand Info - Text"
    },
    {
      "type": "textarea",
      "id": "footer_text",
      "label": "Text Content",
      "default": "Add your brand description here"
    },
    {
      "type": "color",
      "id": "footer_text_color",
      "label": "Text Color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "footer_text_size",
      "label": "Text Size",
      "min": 12,
      "max": 30,
      "default": 14
    },
    {
      "type": "select",
      "id": "footer_text_weight",
      "label": "Text Weight",
      "options": [
        { "value": "400", "label": "Normal" },
        { "value": "600", "label": "Semi Bold" },
        { "value": "700", "label": "Bold" }
      ],
      "default": "400"
    },

    {
      "type": "header",
      "content": "Footer Brand Info - Button"
    },
    {
      "type": "text",
      "id": "footer_btn_text",
      "label": "Button Text",
      "default": "Shop Now"
    },
    {
      "type": "url",
      "id": "footer_btn_url",
      "label": "Button URL"
    },
    {
      "type": "color",
      "id": "footer_btn_text_color",
      "label": "Button Text Color",
      "default": "#ffffff"
    },
    {
      "type": "range",
      "id": "footer_btn_text_size",
      "label": "Button Text Size",
      "min": 12,
      "max": 24,
      "default": 14
    },
    {
      "type": "select",
      "id": "footer_btn_text_weight",
      "label": "Button Text Weight",
      "options": [
        { "value": "400", "label": "Normal" },
        { "value": "600", "label": "Semi Bold" },
        { "value": "700", "label": "Bold" }
      ],
      "default": "600"
    },
    {
      "type": "color",
      "id": "footer_btn_bg",
      "label": "Button Background",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "footer_btn_hover_bg",
      "label": "Button Hover Background",
      "default": "#333333"
    },
    {
      "type": "color",
      "id": "footer_btn_hover_text",
      "label": "Button Hover Text",
      "default": "#ffffff"
    },

    {
      "type": "header",
      "content": "Footer Brand Info - Logo"
    },
    {
      "type": "image_picker",
      "label": "Choose Image",
      "id": "footer_logo"
    },
    {
      "type": "range",
      "id": "footer_logo_width",
      "label": "Logo Width",
      "min": 50,
      "max": 300,
      "step": 10,
      "default": 120
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "inline_richtext",
      "id": "newsletter_heading",
      "default": "t:sections.footer.settings.newsletter_heading.default",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__9.content"
    },
    {
      "type": "checkbox",
      "id": "enable_follow_on_shop",
      "default": true,
      "label": "t:sections.footer.settings.enable_follow_on_shop.label",
      "info": "t:sections.footer.settings.enable_follow_on_shop.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": true,
      "label": "t:sections.footer.settings.show_social.label",
      "info": "t:sections.footer.settings.show_social.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_country_selector.label",
      "info": "t:sections.footer.settings.enable_country_selector.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_language_selector.label",
      "info": "t:sections.footer.settings.enable_language_selector.info"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    },
    {
      "type": "checkbox",
      "id": "show_policy",
      "default": true,
      "label": "t:sections.footer.settings.show_policy.label",
      "info": "t:sections.footer.settings.show_policy.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.footer.settings.margin_top.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      },
      {
        "type": "text"
      }
    ]
  }
}
{% endschema %}
