{{ 'section-multicolumn.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}

{%- style -%}
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
  @font-face {
    font-family: 'Noto_Sans_Condensed_bold';
    src: url('https://cdn.shopify.com/s/files/1/0954/7926/7646/files/NotoSans-ExtraCondensedExtraBold.ttf?v=1777383522');
  }
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
<style>
  .multicolumn-card-{{ section.id }}{
    background:{{section.settings.column_bg}} !important;
    border-radius:{{section.settings.multicolumn-radius }}px;
    overflow:hidden;
  }
  .multicolumn-card-{{ section.id }} .multicolumn-card__info .rte{
   line-height:normal;
   font-weight:{{section.settings.column_text_font_weight}};
   color:{{ section.settings.coumn-text-color }};
   font-family: 'Noto Sans', sans-serif;
   margin-top: 0 !important;
  }
  .multicolumn-card-{{ section.id }} .multicolumn-card-spacing {
   padding-left:{{ section.settings.column_padding-left }}px;
   padding-top:{{ section.settings.column_padding-top }}px;
   padding-bottom:{{ section.settings.column_padding-bottom }}px;
   padding-right:{{ section.settings.column_padding-right }}px;
   margin-left:{{section.settings.column_margin_left }}px;
   margin-right:{{section.settings.column_margin_right }}px;

  }
  .custom-multicolumn-list{
   column-gap: 40px !important;
   flex-wrap:nowrap;
  }

  @media(max-width: 768px){
    .custom-multicolumn-list{
      column-gap: 20px !important;
    }
  }

  @media screen and (max-width:600px){
  .custom-multicolumn-list .multicolumn-list__item {
   width:100% !important;
   max-width:92% !important;
  }
  .multicoloumn-btn{
    font-weight: bold;
   display:block !important;
   margin-left:20px;
   margin-right:20px;
   text-align:center;
   margin-top:3rem !important;
  }
  .custom-slider-button .svg-wrapper{
    color:white;
   }
  }
  .custom-multicolumn-list .multicolumn-list__item {
    max-width: calc(31.33% - var(--grid-desktop-horizontal-spacing) * 2 / 3);
  }
  .custom-multicolumn__title h2{
   text-align:center;
   width:100%;
   font-family: 'Noto_Sans_Condensed_bold';
   margin-bottom:10px !important;
  }
  .multicoloumn-btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 0;
    padding: 8px 4rem;
    cursor: pointer;
    font: inherit;
    font-size: 1.5rem;
    text-decoration: none;
    transition: box-shadow var(--duration-short) ease;
    -webkit-appearance: none;
    appearance: none;
    margin-top: 6rem;
    background:{{ section.settings.multicolumn-btn-bg }};
    color:{{ section.settings.multicolumn-btn-color }};
    border:1px solid {{ section.settings.multicolumn-btn-border-color }};
    border-radius:5px;
    font-family: 'Noto Sans', sans-serif;
    transition:all ease-in-out 0.3s;
    font-weight:500;
  }
  .multicoloumn-btn:hover{
   background:{{ section.settings.multicolumn-btn-hover-bg }};
    color:{{ section.settings.multicolumn-btn-hover-color }};
   }
  .multi-cols-logo{
    Width:100%;
    max-width:{{section.settings.logo-width }}px;
    position: absolute;
    top: -40px;
    left: 45%;
  }
   .multi-cols-logo img{
     width:100%;
     object-fit:cover;
     object-position:center
  }
  .multi-col-position{
   position:relative;
  }

  @media screen and (max-width:425px){
   .multi-cols-logo {
    max-width: 100px;
    top: -45px;
    left: 37%;
   }
  }
</style>
{%- liquid
  assign columns_mobile_int = section.settings.columns_mobile | plus: 0
  assign show_mobile_slider = false
  if section.settings.swipe_on_mobile and section.blocks.size > columns_mobile_int
    assign show_mobile_slider = true
  endif
-%}

<div class="multicolumn color-{{ section.settings.color_scheme }} gradient{% unless section.settings.background_style == 'none' and settings.text_boxes_border_thickness > 0 or settings.text_boxes_shadow_opacity > 0 %} background-{{ section.settings.background_style }}{% endunless %}{% if section.settings.title == blank %} no-heading{% endif %}">
  <div
    class="page-width multi-col-position  section-{{ section.id }}-padding isolate{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
    {% if settings.animations_reveal_on_scroll %}
      data-cascade
    {% endif %}
  >
    {%- unless section.settings.title == blank -%}
      {% if section.settings['multi-coloumn-logo'] %}
        <div class="multi-cols-logo" style="">
          <img
            src="{{section.settings.multi-coloumn-logo |  img_url: 'master'}}"
            loading="lazy"
          >
        </div>
      {% endif %}

      <div class="title-wrapper-with-link title-wrapper--self-padded-mobile title-wrapper--no-top-margin multicolumn__title custom-multicolumn__title">
        <h2 class=" title inline-richtext {{ section.settings.heading_size }} ">
          {{ section.settings.title }}
        </h2>
        {% comment %}
          {%- if section.settings.button_label != blank and show_mobile_slider -%}
            <a href="{{ section.settings.button_link }}" class="link underlined-link large-up-hide">
              {{- section.settings.button_label | escape -}}
            </a>
          {%- endif -%}
        {% endcomment %}
      </div>
    {%- endunless -%}
    <slider-component class="slider-mobile-gutter" style="text-align:center;">
      <ul
        class="custom-multicolumn-list multicolumn-list contains-content-container grid grid--{{ section.settings.columns_mobile }}-col-tablet-down grid--{{ section.settings.columns_desktop }}-col-desktop{% if show_mobile_slider %} slider slider--tablet grid--peek{% endif %}"
        id="Slider-{{ section.id }}"
        role="list"
      >
        {%- liquid
          assign highest_ratio = 0
          for block in section.blocks
            if block.settings.image.aspect_ratio > highest_ratio
              assign highest_ratio = block.settings.image.aspect_ratio
            endif
          endfor
        -%}
        {%- for block in section.blocks -%}
          {%- assign empty_column = '' -%}
          {%- if block.settings.image == blank
            and block.settings.title == blank
            and block.settings.text == blank
            and block.settings.link_label == blank
          -%}
            {%- assign empty_column = ' multicolumn-list__item--empty' -%}
          {%- endif -%}

          <li
            id="Slide-{{ section.id }}-{{ forloop.index }}"
            class="multicolumn-list__item grid__item{% if section.settings.swipe_on_mobile %} slider__slide{% endif %}{% if section.settings.column_alignment == 'center' %} center{% endif %}{{ empty_column }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {{ block.shopify_attributes }}
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
              style="--animation-order: {{ forloop.index }};"
            {% endif %}
          >
            <div class="multicolumn-card content-container multicolumn-card-{{ section.id }}">
              {%- if block.settings.image != blank -%}
                {% if section.settings.image_ratio == 'adapt' or section.settings.image_ratio == 'circle' %}
                  {% assign spaced_image = true %}
                {% endif %}
                <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--{{ section.settings.image_width }}-width{% if section.settings.image_width != 'full' or spaced_image %} multicolumn-card-spacing{% endif %}">
                  <div
                    class="media media--transparent media--{{ section.settings.image_ratio }}"
                    {% if section.settings.image_ratio == 'adapt' %}
                      style="padding-bottom: {{ 1 | divided_by: highest_ratio | times: 100 }}%;"
                    {% endif %}
                  >
                    {%- liquid
                      assign number_of_columns = section.settings.columns_desktop
                      assign number_of_columns_mobile = section.settings.columns_mobile
                      assign grid_space_desktop = number_of_columns | minus: 1 | times: settings.spacing_grid_horizontal | plus: 100 | append: 'px'
                      assign grid_space_tablet = number_of_columns_mobile | minus: 1 | times: settings.spacing_grid_horizontal | plus: 100 | append: 'px'
                      assign grid_space_mobile = number_of_columns_mobile | minus: 1 | times: settings.spacing_grid_horizontal | divided_by: 2 | plus: 30 | append: 'px'
                      if section.settings.image_width == 'half'
                        assign image_width = 0.5
                      elsif section.settings.image_width == 'third'
                        assign image_width = 0.33
                      else
                        assign image_width = 1
                      endif
                    -%}
                    {% capture sizes %}
                      (min-width: {{ settings.page_width }}px) calc(({{ settings.page_width }}px - {{ grid_space_desktop }}) * {{ image_width }} /  {{ number_of_columns }}),
                      (min-width: 990px) calc((100vw - {{ grid_space_desktop }}) * {{ image_width }} / {{ number_of_columns }}),
                      (min-width: 750px) calc((100vw - {{ grid_space_tablet }}) * {{ image_width }} / {{ number_of_columns_mobile }}),
                      calc((100vw - {{ grid_space_mobile }}) * {{ image_width }} / {{ number_of_columns_mobile }})
                    {% endcapture %}
                    {{
                      block.settings.image
                      | image_url: width: 3200
                      | image_tag:
                        widths: '50, 75, 100, 150, 200, 300, 400, 500, 750, 1000, 1250, 1500, 1750, 2000, 2250, 2500, 2750, 3000, 3200',
                        sizes: sizes,
                        class: 'multicolumn-card__image'
                    }}
                  </div>
                </div>
              {%- endif -%}
              <div class="multicolumn-card__info">
                <div class="quote__sign">
                  <img src="https://cdn.shopify.com/s/files/1/0954/7926/7646/files/quote.png?v=1778068605">
                </div>
                {%- if block.settings.title != blank -%}
                  <h3 class="inline-richtext">{{ block.settings.title }}</h3>
                {%- endif -%}
                {%- if block.settings.text != blank -%}
                  <div class="rte">{{ block.settings.text }}</div>
                {%- endif -%}
                {%- if block.settings.link_label != blank -%}
                  <a
                    class="link animate-arrow"
                    {% if block.settings.link == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ block.settings.link }}"
                    {% endif %}
                  >
                    {{- block.settings.link_label | escape -}}
                    <span class="svg-wrapper"
                      ><span class="icon-wrap">&nbsp;{{ 'icon-arrow.svg' | inline_asset_content }}</span></span
                    >
                  </a>
                {%- endif -%}

                <div class="multi-card-author multi-card-author-{{ block.id }}">
                  <span
                    ><img
                      slt="5 star rating"
                      src="https://cdn.shopify.com/s/files/1/0954/7926/7646/files/stars.png?v=1778069251"
                  ></span>
                  <h2>{{ block.settings.author_name }}</h2>
                </div>
              </div>
            </div>
          </li>

          <style>
            .multi-card-author-{{ block.id }}  h2{
              color: {{ block.settings.author_color }};
              font-size: {{ block.settings.author_size }}px;
              font-weight: {{ block.settings.author_weight }};
              margin: 0;
              line-height: 2px;
            }

            .multi-card-author-{{ block.id }}  span{
              color: {{ block.settings.star_color }};
              font-size: {{ block.settings.star_size }}px !important;
            }
          </style>
        {%- endfor -%}
      </ul>

      {%- if show_mobile_slider -%}
        <div class="slider-buttons large-up-hide">
          <button
            type="button"
            class="slider-button slider-button--prev custom-slider-button"
            name="previous"
            aria-label="{{ 'general.slider.previous_slide' | t }}"
          >
            <span class="svg-wrapper">{{ 'icon-caret.svg' | inline_asset_content }}</span>
          </button>
          <div class="slider-counter caption">
            <span class="slider-counter--current">1</span>
            <span aria-hidden="true"> / </span>
            <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
            <span class="slider-counter--total">{{ section.blocks.size }}</span>
          </div>
          <button
            type="button"
            class="slider-button slider-button--next custom-slider-button "
            name="next"
            aria-label="{{ 'general.slider.next_slide' | t }}"
          >
            <span class="svg-wrapper">{{ 'icon-caret.svg' | inline_asset_content }}</span>
          </button>
        </div>
      {%- endif -%}
      {%- if section.settings.button_label != blank and show_mobile_slider -%}
        <a href="{{ section.settings.button_link }}" class="link underlined-link large-up-hide multicoloumn-btn">
          {{- section.settings.button_label | escape -}}
        </a>
      {%- endif -%}
    </slider-component>

    <div class="center{% if show_mobile_slider %} small-hide medium-hide{% endif %}">
      {%- if section.settings.button_label != blank -%}
        <a
          class="multicoloumn-btn"
          {% if section.settings.button_link == blank %}
            role="link" aria-disabled="true"
          {% else %}
            href="{{ section.settings.button_link }}"
          {% endif %}
        >
          {{ section.settings.button_label | escape }}
        </a>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.multicolumn.name",
  "class": "section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Logo Settings"
    },
    { "type": "image_picker", "id": "multi-coloumn-logo", "label": "Choose Logo" },
    {
      "type": "range",
      "label": "Logo width",
      "id": "logo-width",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 40
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "t:sections.multicolumn.settings.title.default",
      "label": "t:sections.multicolumn.settings.title.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "hxxl",
          "label": "t:sections.all.heading_size.options__5.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "header",
      "content": "t:sections.multicolumn.settings.header_image.content"
    },
    {
      "type": "select",
      "id": "image_width",
      "options": [
        {
          "value": "third",
          "label": "t:sections.multicolumn.settings.image_width.options__1.label"
        },
        {
          "value": "half",
          "label": "t:sections.multicolumn.settings.image_width.options__2.label"
        },
        {
          "value": "full",
          "label": "t:sections.multicolumn.settings.image_width.options__3.label"
        }
      ],
      "default": "full",
      "label": "t:sections.multicolumn.settings.image_width.label"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.multicolumn.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.multicolumn.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.multicolumn.settings.image_ratio.options__3.label"
        },
        {
          "value": "circle",
          "label": "t:sections.multicolumn.settings.image_ratio.options__4.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.multicolumn.settings.image_ratio.label"
    },
    {
      "type": "header",
      "content": "t:sections.multicolumn.settings.header_button.content"
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "t:sections.multicolumn.settings.button_label.default",
      "label": "t:sections.multicolumn.settings.button_label.label",
      "info": "t:sections.multicolumn.settings.button_label.info"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.multicolumn.settings.button_link.label"
    },
    {
      "type": "color",
      "label": "Choose Button Hover Color",
      "id": "btn-hover-color"
    },
    {
      "type": "color",
      "label": "Choose Button Hover background Color",
      "id": "btn-hover-bg"
    },
    {
      "type": "header",
      "content": "t:sections.multicolumn.settings.header_layout.content"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 3,
      "label": "t:sections.multicolumn.settings.columns_desktop.label"
    },
    {
      "type": "select",
      "id": "column_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.multicolumn.settings.column_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.multicolumn.settings.column_alignment.options__2.label"
        }
      ],
      "default": "left",
      "label": "t:sections.multicolumn.settings.column_alignment.label"
    },
    {
      "type": "select",
      "id": "background_style",
      "options": [
        {
          "value": "none",
          "label": "t:sections.multicolumn.settings.background_style.options__1.label"
        },
        {
          "value": "primary",
          "label": "t:sections.multicolumn.settings.background_style.options__2.label"
        }
      ],
      "default": "primary",
      "label": "t:sections.multicolumn.settings.background_style.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.multicolumn.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "options": [
        {
          "value": "1",
          "label": "t:sections.multicolumn.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.multicolumn.settings.columns_mobile.options__2.label"
        }
      ],
      "default": "1",
      "label": "t:sections.multicolumn.settings.columns_mobile.label"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "t:sections.multicolumn.settings.swipe_on_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "header",
      "content": "Column settings"
    },
    {
      "type": "color",
      "label": "Choose background color ",
      "id": "column_bg"
    },
    {
      "type": "range",
      "label": "Border radius",
      "id": "multicolumn-radius",
      "step": 1,
      "min": 0,
      "max": 100,
      "default": 15
    },
    {
      "type": "range",
      "label": "Padding left",
      "id": "column_padding-left",
      "step": 1,
      "min": 0,
      "max": 100,
      "default": 0
    },
    {
      "type": "range",
      "label": "Padding right",
      "id": "column_padding-right",
      "step": 1,
      "min": 0,
      "max": 100,
      "default": 0
    },
    {
      "type": "range",
      "label": "Padding Top",
      "id": "column_padding-top",
      "step": 1,
      "min": 0,
      "max": 100,
      "default": 0
    },
    {
      "type": "range",
      "label": "Padding Bottom",
      "id": "column_padding-bottom",
      "step": 1,
      "min": 0,
      "max": 100,
      "default": 0
    },
    {
      "type": "range",
      "label": "Margin Left",
      "id": "column_margin_left",
      "step": 1,
      "min": 0,
      "max": 100,
      "default": 0
    },
    {
      "type": "range",
      "label": "Margin Right",
      "id": "column_margin_right",
      "step": 1,
      "min": 0,
      "max": 100,
      "default": 0
    },
    {
      "type": "color",
      "id": "coumn-text-color",
      "label": "Choose Column Text Color",
      "default": "#000000"
    },
    {
      "type": "select",
      "id": "column_text_font_weight",
      "label": "Column Text Font Weight",
      "options": [
        { "value": "400", "label": "400 (Normal)" },
        { "value": "500", "label": "500 (Medium)" },
        { "value": "600", "label": "600 (Semi Bold)" },
        { "value": "700", "label": "700 (Bold)" },
        { "value": "800", "label": "800 (Extra Bold)" },
        { "value": "900", "label": "900 (Black)" }
      ],
      "default": "400"
    },
    {
      "type": "color",
      "label": "Choose Button background color",
      "id": "multicolumn-btn-bg"
    },
    {
      "type": "color",
      "label": "Choose button color",
      "id": "multicolumn-btn-color"
    },
    {
      "type": "color",
      "label": "Choose Button Border Color",
      "id": "multicolumn-btn-border-color"
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "t:sections.multicolumn.blocks.column.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.multicolumn.blocks.column.settings.image.label"
        },
        {
          "type": "inline_richtext",
          "id": "title",
          "default": "t:sections.multicolumn.blocks.column.settings.title.default",
          "label": "t:sections.multicolumn.blocks.column.settings.title.label"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "t:sections.multicolumn.blocks.column.settings.text.default",
          "label": "t:sections.multicolumn.blocks.column.settings.text.label"
        },
        {
          "type": "text",
          "id": "link_label",
          "label": "t:sections.multicolumn.blocks.column.settings.link_label.label",
          "info": "t:sections.multicolumn.blocks.column.settings.link_label.info"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.multicolumn.blocks.column.settings.link.label"
        },
        {
          "type": "header",
          "content": "Author Settings"
        },
        {
          "type": "text",
          "id": "author_name",
          "label": "Author Name",
          "default": "John Doe"
        },
        {
          "type": "color",
          "id": "author_color",
          "label": "Author Color",
          "default": "#000000"
        },
        {
          "type": "range",
          "id": "author_size",
          "label": "Author Font Size",
          "min": 12,
          "max": 30,
          "default": 16
        },
        {
          "type": "select",
          "id": "author_weight",
          "label": "Author Font Weight",
          "options": [
            { "value": "400", "label": "Normal" },
            { "value": "500", "label": "Medium" },
            { "value": "600", "label": "Semi Bold" },
            { "value": "700", "label": "Bold" },
            { "value": "800", "label": "Extra Bold" }
          ],
          "default": "600"
        },

        {
          "type": "header",
          "content": "Rating Settings"
        },
        {
          "type": "select",
          "id": "rating",
          "label": "Select Rating",
          "options": [
            { "value": "⭐", "label": "⭐ 1 Star" },
            { "value": "⭐⭐", "label": "⭐⭐ 2 Stars" },
            { "value": "⭐⭐⭐", "label": "⭐⭐⭐ 3 Stars" },
            { "value": "⭐⭐⭐⭐", "label": "⭐⭐⭐⭐ 4 Stars" },
            { "value": "⭐⭐⭐⭐⭐", "label": "⭐⭐⭐⭐⭐ 5 Stars" }
          ],
          "default": "⭐⭐⭐⭐⭐"
        },
        {
          "type": "color",
          "id": "star_color",
          "label": "Star Color",
          "default": "#AA7D3E"
        },
        {
          "type": "range",
          "id": "star_size",
          "label": "Star Size",
          "min": 1,
          "max": 30,
          "default": 8
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.multicolumn.presets.name",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    }
  ]
}
{% endschema %}
